//@import 'ember-power-select/themes/material';
@import 'ember-power-select';

body {
  font-family: sans-serif;
  background:radial-gradient(ellipse closest-side, white, lightgreen 5%, black 30%, white);
  background-repeat:no-repeat;
  background-position: calc(100% + 240px) calc(100% + 150px);
  background-attachment: fixed;
}

nav {
  padding-top: 10px;
}

.navbar-nav>li.for-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 1px;
  width: 70px;
}

.icon-flag {
    display: inline-block;
    height: 14px;
    width: 20px;
}

/* Custom app styles */

#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(15, 69, 5, 0.93);
}
.navbar-brand {
  //padding-top: 30px;
  font-size: 22px;
  font-weight: 300;
  //color: rgba(15, 69, 5, 0.20);
  //background-color: white;
  text-shadow: 1px 1px white;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(34, 168, 99, 0.77);
    background: -webkit-linear-gradient(top, rgba(31, 156, 81, 0.11) 0%, rgba(34, 168, 99, 0.77) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(34, 168, 99, 0.77) 100%);
    border-width: 0px;
    border-radius: 10px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(15, 69, 5, 0.9);
    text-shadow: 1px 1px white;
    //background-color: rgba(34, 168, 99, 0.77);
    //background: -webkit-linear-gradient(top, rgba(31, 156, 81, 0.11) 0%, rgba(34, 168, 99, 0.77) 100%);
    //background: linear-gradient(to bottom, rgba(31, 156, 81, 0.11) 0%, rgba(34, 168, 99, 0.77) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: white;
    text-shadow: 1px 1px darkgreen;
    background-color: rgba(237, 212, 23, 0.54);
    //background: -webkit-linear-gradient(top, rgba(237, 212, 23, 0.25) 0%, rgba(237, 212, 23, 0.54) 100%);
    //background: linear-gradient(to bottom, rgba(237, 212, 23, 0.25) 0%, rgba(237, 212, 23, 0.54) 100%);
    background:radial-gradient(ellipse closest-side, transparent, lightgreen 5%, black 30%, transparent);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(230, 21, 21, 0.87);
    background-color: rgba(184, 179, 27, 0.62);
    background: -webkit-linear-gradient(top, rgba(184, 179, 27, 0.24) 0%, rgba(184, 179, 27, 0.62) 100%);
    background: linear-gradient(to bottom, rgba(184, 179, 27, 0.24) 0%, rgba(184, 179, 27, 0.62) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #b8b31b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #b8b31b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #b8b31b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #22a863;
}

.jumbotron {
    background: linear-gradient(-50deg, rgba(31, 156, 81, 0.81), rgba(31, 156, 81, 0.20) 80%, rgba(31, 156, 81, 0.61));
    color: darkgreen;
    text-shadow: 1px 1px white;
    padding-bottom: 80px;
}

.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
    background: #7646c1;
}

.jumbotron p {
    color: darkgreen;
    max-width: 75%;
    margin: 1em auto 2em;
}

.jumbotron h1 {
    font-size: 40px;
}

.navbar + .jumbotron {
    margin-top: -20px;
}

.jumbotron .lang-logo {
    display: block;
    background: #FFFBF5;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}

.jumbotron .lang-logo img {
    max-width: 100%;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  color: darkgreen;
  text-shadow: 1px 1px green;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgba(31, 156, 81, 0.30);
  border: 1px solid rgb(31, 156, 81);
}

.list-group-item:first-child {
  border-top-right-radius: 30px;
  border-top-left-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group-item > .badge {
  color: darkgreen;
  background-color: rgba(31, 156, 81, 0.30);
  float: right;
}

.list-group-item > .badge + .badge {
  margin-right: 5px;
}

a.list-group-item {
  color: #555555;
}

a.list-group-item .list-group-item-heading {
  color: #333333;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: rgba(31, 156, 81, 0.98);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: rgb(31, 156, 81);
  border-color: rgb(31, 156, 81);
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #e1edf7;
}


.well {
  height: 100%;
  width: 100%;
  color: rgba(15, 69, 5, 0.93);
  //background:linear-gradient(-50deg, navy, lightblue 80%, navy);
  background-color: rgba(34, 168, 99, 0.77);
  background: -webkit-linear-gradient(-50deg, rgba(31, 156, 81, 0.11) 10%, rgba(34, 168, 99, 0.77) 80%);
  background: linear-gradient(-50deg, rgba(31, 156, 81, 0.11) 10%, rgba(34, 168, 99, 0.77) 80%);
  border-width: 0px;
  border-radius: 10px;
}
.embed-youtube {
//  height: 100%;
  min-height: 250px;
  width: 100%;
  color: rgba(15, 69, 5, 0.93);
  //background:linear-gradient(-50deg, navy, lightblue 80%, navy);
  border-width: 0px;
}

.embed-spotify {
  height: 80px;
  min-height: 50px;
  max-height: 120px;
  width: 100%;
  color: rgba(15, 69, 5, 0.93);
  //background:linear-gradient(-50deg, navy, lightblue 80%, navy);
  border-width: 0px;
}
