<div class="container-fluid">

	<div class="jumbotron text-center">
    <h1 class="navbar-brand">{{application.appName}}</h1>

		{{#if application.logado}}
		<p>Vota a tus artistas favoritos para que vayan al festival que tú quieras.</p>
		<a target="_blank" class="btn btn-lg btn-default" href="http://slides.com/beatrizdemiguelperez/deck-1">
			<span class="glyphicon glyphicon-facetime-video"></span> Festivals
		</a>
			{{else}}
			<span class="for-button"><button class="btn btn-success"><i class="glyphicon glyphicon-log-in"></i></button></span>
		{{/if}}

	</div>
</div>


{{outlet}}
